        body {
            background-color: rgb(237, 230, 181);
        }
        .search-button {
            align-self: auto;
            width: 60px;
            height: 30px;
            border-radius: 15px;
          }
        .search-input {
            align-self: auto;
            width: 200px;
            height: 25px;
            border-radius: 15px;
            border: 2px solid gray;
        }

        header h1 a {
            text-align: center;
            text-decoration: none;
            background-color: rgb(226, 197, 162);
            text-emphasis-color: red;
            color: rgb(3, 89, 42);
        }

        nav {
            margin-top: -10px;
            margin-bottom: 10px;
            padding: 10px;
            border-radius: 15px;

        }

        main nav a {
            text-decoration: none;
            color: white;
        }

        main nav {
            background-color: palevioletred;
            text-align: center;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

        }

        main article img {
            padding-left: 9cm;

        }

        p1 {
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;
        }

        legend {
            font-weight: bolder;
            border: 2px rgb(126, 0, 0);
            border-radius: 2px;
        }

        h2 {
            font-weight: bolder;
            font-size: xx-large;
        }

        footer {
            height: 2cm;
            font-size: 0.8cm;
            background-color: rgb(3, 3, 5);
            border-width: 2cm;
            text-align: center;
            color: aliceblue;
        }