body {
    margin: 0px;
    font-family: sans-serif;
    font-size: 30px;
}

#header {
    height: 50vh;
    opacity: 0.9;
    background-image: url(https://wallpapers.com/images/hd/coding-background-1cgv2uj7xyo4y38z.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 1.2rem;
}

#nav-list {
    padding: 0px;
    margin: 0px;

}

#nav-list li {
    display: inline;

}

.text-center {
    text-align: center;
    padding: 0.5rem;
}

#nav-list li a {
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-family: cursive;
    transition: all 0.8s ease-in-out;
    border-radius: 20px;
    padding: 8px;
    
}

#nav-list li a:hover {
    color: rgb(255, 55, 0);
    transition: all 0.1s ease-in-out;
    border-bottom: 2px solid wheat;
    background-color: rgba(115, 202, 237, 0.425);
}

.name {
    text-align: center;

}

.name h1 a {
    color: rgb(255, 1, 1);
    font-size: 3rem;
    font-family: cursive;
    text-decoration: none;
    
}
.name h1 a:hover {
    border-bottom: 2px solid salmon;
    padding: 10px;
    border-radius: 35%;
    opacity: 0.8;
    background-color:  rgb(79, 79, 76);
    color: rgb(2, 255, 57);
    transition: 0.8s;
}

#about {
    height: auto;
    width: 100%;
    position: relative;
    margin-bottom: 30px
}

#picture {
    height: 13rem;
    width: 13rem;
    margin: auto;
    margin-top: -20vh;

}

img {
    height: 100%;
    width: 100%;
    border-radius: 45%;
    border: 5px solid rgba(228, 200, 200, 0.329);
}

img:hover {
   
    border: 5px solid rgb(255, 0, 0);
    transition: 0.4s;
}

#about-person {
    width: 80%;
    margin: auto;
    text-align: center;
}
/* skills */
section{
    display: flex;
    flex-direction: column;
    /* border: 2px solid #000; */
    align-items: center;
    height: 500px;
    margin: 5px;

}
@media screen and (max-width:600px) {
    .timeline-devider{
        left: 5%;   
    }
    .timeline-box{
        left: 12% !important;
        width: 80%;
    }
    /* .timeline-box:nth-child(2n){
        left: 12%;
    } */
     
}


.section-heading {
    
    width: auto;
    padding: 20px 10px 10px;
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-family: cursive;
}
 .section-heading span{
    font-weight: bold;
    font-size: 40px;
    color: #104aca;
 }
 /* skills */
 
 .skills_display{
    width: 80%;
    max-width: 950px;
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    gap: 1.2rem;
}
.skill-item{
    grid-column: span 2;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
    padding: 1rem 0.8rem;
    border-radius: 14px;
    border: 2px solid #104aca;
    background-color: #edf3ff;
    color: #104aca;
    font-size: 1.5rem;
    font-weight: 700;
}
.skill-item i{
    font-size: 1.8rem;
}
.skill-item:nth-child(4){
    grid-column: 2 / span 2;
}
.skill-item:nth-child(5){
    grid-column: 4 / span 2;
}
@media screen and (max-width:600px) {
    .skills_display{
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .skill-item{
        grid-column: span 1 !important;
        font-size: 1.2rem;
    }
    .skill-item i{
        font-size: 1.4rem;
    }
}
/* experiance */
/* timeline */
.timeline{
 border: 2px solid black;
 width: 75%;
 height: 200%;
 position: relative;
}
.timeline-box{
    border: 2px solid black;
    height: 100px;
    width: 40%;
  position: relative;
}
.timeline-box:nth-child(2n){
    left: 53%;
}
.timeline-devider{
    border: 3px dashed #104aca;
    height: 100%;
    width: 0;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.timeline-travellar{
    position: sticky;
    top: 12%;
    transform: rotate(90deg) translateX(-50%);
    left: -0.75rem;
    color: #104aca;
    font-size: 2.2rem;
}
