body {
    margin: 0px;
    font-family: sans-serif;
    font-size: 30px;
}

#header {
    height: 50vh;
    opacity: 0.9;
    background-image: url(https://wallpapers.com/images/hd/coding-background-1cgv2uj7xyo4y38z.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 1.2rem;
}

#nav-list {
    padding: 0px;
    margin: 0px;

}

#nav-list li {
    display: inline;

}

.text-center {
    text-align: center;
    padding: 0.5rem;
}

#nav-list li a {
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-family: cursive;
    transition: all 0.2s ease-in-out;
    border-radius: 20px;
    padding: 8px;
    
   
}

#nav-list li a:hover {
    color: rgb(255, 55, 0);
    transition: all 0.1s ease-in-out    ;
}
.name{
    text-align: center;
 
}
.name h1 a{
    color: rgb(255, 1, 1);
    font-size: 3rem;
    font-family: cursive;
    text-decoration: none;
  
}
.name h1 a:hover{
    color: rgb(8, 154, 39);
    transition: 0.8s;
}
#about{
    height: auto;
    width: 100%;
    position: relative;
    margin-bottom: 30px
}
#picture{
  height: 10rem;
    width: 10rem;
    margin: auto;
    margin-top: -20vh;
   
}
img{
    height: 100%;
    width: 100%;
    border-radius: 45%;
    border: 5px solid rgba(228, 200, 200, 0.329);

}
img:hover{
    border: 5px solid rgb(153, 92, 92);
    transition: 0.4s;
}
#about-person{
    width: 80%;
    margin: auto;
    text-align: center;
}
