.header-image {
    height: 400px;
    width: 100%;
    background-image: url(https://wallpapercat.com/w/full/c/5/e/5823605-2920x1640-desktop-hd-boy-programmer-background-image.jpg);
    background-size: cover;
    background-position: center;


    
    position: fixed;
    top: 0;
    left: 0;

}

.nav-list {
    display: inline-block;
    color: white;
    text-align: center;

    text-decoration: none;

}

.nav-list a {
    font-size: large;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.nav-list a:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(43, 255, 0);
    border-radius: 50%;
    opacity: 0.8;

}

.nav-list-container {
    display: flex;

    justify-content: center;
    align-items: center;
    height: 100%;

}
/* .img{
    position: absolute;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */